body{
    margin: 0;
    padding: 0;
    background-color: #d0d6e0;
}

/***********************HEADER*********************************/
/*CONTENEDOR DE LOGO Y BUSCADOR*/
.cabecera{
width: 100%;
height: 100%;
display:flex;
align-items: center;
justify-content: space-around;
flex-wrap: wrap;
}

/*CONTENEDOR DE IMAGEN LOGO Y GIF*/
.logo{
display: flex;
justify-content: center;
}

.logo img{
max-width: 100%;
height: 100%;
}

/*CONTENEDOR DEL BUSCADOR, EL CARRITO Y BOTONES DE LOGIN Y REGISTER*/
.buscauser{
/*min-width: 21%;
min-height: 30%;*/ 
display: flex;
flex-wrap: wrap;
flex-direction: column;
}

/*BUSCADOR*/
form{ 
display: flex;
max-width: 20%;
padding-bottom: 1em;
}

.user{
display: flex;
justify-content: space-between;
align-items: center;
}

#carrito{
max-width: 400px;
}

.auser{
margin-bottom: 2%;
display: inline-block;
font-family:Arial, Helvetica, sans-serif;
background-color:#000000;
text-decoration: none;
padding: 0 1.5em;
border:solid 2px #7CBBFF;
border-radius: 1.3em;
color: #7CBBFF;
line-height: 2.6em;
font-size: .9em;
text-transform: capitalize; 
}

.auser:hover{
background-image: radial-gradient(#7CBBFF,#28AEEB,#006EB0);
border-radius: 10px;
border:solid 2px #000000;
transition-duration: 0.8s;
transition-delay: 0.1s;
transition-timing-function: ease;
color:#FFFFFF;
}
/*------------------------------------------FIN DEL HEADER----------------------------------------*/

/*-----------------------------------------------NAV----------------------------------------------*/
.menu{
width: 100%;
background-image: radial-gradient(#7CBBFF,#28AEEB,#006EB0);
height:10%;
display: flex;
justify-content: center;
flex-flow: column;
box-shadow: 5px 5px 10px grey;
}

.menu ul{
display:flex;
flex-wrap: wrap;
list-style: none;
justify-content: center;
}

.menu ul li a{
text-decoration: none;
color: #FEFEFE;
font-size: 20px;
font-family: "Verdana", Helvetica, Arial, "sans-serif" ;
line-height: 3.4;
text-transform: uppercase;
font-weight: bold;
padding: 10px 30px;
transition-duration: 0.8s;
transition-delay: 0.1s;
transition-timing-function: ease;
}

.menu ul li a:hover{
background-color:#000000;
border-radius: 10px;
border:solid 2px #ffffff;
transition-duration: 0.8s;
transition-delay: 0.1s;
transition-timing-function: ease;
}
/*-------------------------------------------FIN DEL NAV------------------------------------------*/

/********************** FIN CABECERA*********************************/

/*************************************body********************************/
.principal{
display: flex;
width: 100%;
flex-direction: column;
justify-content: center;
align-items: center;
}

.fondoazul{
width: 70%;
background-image: radial-gradient(#7CBBFF,#28aeed,#006EB0);
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
border-radius: 19px;
box-shadow: 5px 5px 10px grey;
margin-top: 3%;
margin-bottom: 3%;
}    

article{
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    justify-content: center;
    border-radius: 19px;
}

.titulo{
      background-color: black;
    color: white;
    padding: 2%;
    border-radius: 50px;
    height: fit-content;
    border: 2px solid white;
   color: white;
   font-size: 24px;
   font-family: verdana;
}

.grupo1{
display: flex;
justify-content: space-between;
width: 100%;
align-items: center;
color: #FFFFFF;
font-family: 'Verdana';
border-top: 2px solid #000000;
padding-top: 2%;
}

.grupo1 img{
    display: flex;
    width: 100%;
    height: 50%;
    border: 7px solid;
    border-color: black;
    border-radius: 17%;
}

.nombrejuego{
width: 25%;
height: 100%;
}

.datos{
display: flex;
flex-direction: column;
justify-content: center;
width: 75%;
align-items: center;
color: #FFFFFF;
font-family: 'Verdana';
}

.datos h2{
width: auto;
height: fit-content;
color: white;
}

.parrafo{
display: flex;
justify-content: center;
width: 90%;
align-items: center;
padding: 1% 2% 1% 2%;
color: #FFFFFF;
font-family: 'Verdana';
line-height: 25px;
border-radius: 19px;
text-align: justify;
}

   /***************************FIN BODY********************************/

   
/***********************FOOTER**************************/
footer{
align-self: flex-end;
display: flex;
justify-content: center;
align-items: center;
border-top: 2px solid black;
margin-top: 2%;
background-image: radial-gradient(#7CBBFF,#28AEEB,#006EB0);

}

#redes{
display: flex;
width: 100%;
flex-wrap: wrap;
justify-content: center;
align-items: center;
}

#redes img{
display: flex;
width: 3em;
height: 3em;
padding: 1vh;
}

#redes a{
display: flex;
justify-content: center;
}

#redes p{
display: flex;
justify-content: center;        
}

#iconotwitter{
display: flex;
}

#iconofacebook{
display: flex;
}

#iconoinsta{
display: flex;
}

#iconogoogle{
display: flex;
}


